body{
    height: 100%;
    background-image: url(images/download.jpeg);
    
}
.weatherTitle{
font-weight: bold;
outline: 1px solid black;
background-color: white;
}
.lead {
    color: white;
    font-weight: 900;
}
.jumbotron{
    background-image: url(images/jz_csweather_060619.jpg);
}
.foreCastList{
    background-color: rgb(209, 209, 209);
}